################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds/VisualStudio2017/.vs/Auto Tuner/v15/ipch/AutoPCH
/Builds/VisualStudio2017/.vs
/Builds/VisualStudio2017/Win32/Debug/Shared Code/Auto Tun.A9FAF0DA.tlog
/Builds/VisualStudio2017/Win32/Debug/Shared Code/Auto Tun.D967F1C5.tlog
/Builds/VisualStudio2017/Win32/Debug/Shared Code/Circular.86CAADD4.tlog
/Builds/VisualStudio2017/Win32/Debug/Standalone Plugin/Auto Tun.9CDDDC2A.tlog
/Builds/VisualStudio2017/Win32/Debug/Standalone Plugin/Auto Tun.DA56FBE0.tlog
/Builds/VisualStudio2017/Win32/Debug/Standalone Plugin/Circular.4D2C6886.tlog
/Builds/VisualStudio2017/Win32/Debug/VST/Auto Tuner_VST.tlog
/Builds/VisualStudio2017/Win32/Debug/VST/Circular.9B7E9990.tlog
/Builds/VisualStudio2017
